<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}DEVOUR this!{{else}}Order again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>
